* {
  font-family: monospace;
  color: white;
  background-color: black;
  cursor: default;
}

span {
  white-space: pre-wrap;
}

input {
  position: absolute;
  border: none;
  outline: none;
  width: 80%;
  background: none;
}

#ghost {
  opacity: 0.3;
  user-select: none;
}

.log {
  white-space: pre-wrap;
}